 .u-section-1 {
  background-image: none;
  min-height: 768px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 55px auto 54px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 659px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 20px 30px 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 99px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 37px auto 0 0;
  padding: 17px 42px 19px 41px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.7858em;
  vertical-align: -4px;
  margin-left: 1px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 659px;
}

.u-section-1 .u-container-layout-2 {
  padding: 38px;
}

.u-section-1 .u-image-1 {
  --radius: 100px;
  height: 305px;
  width: 443px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 0 0 auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 652px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 543px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 543px;
  }

  .u-section-1 .u-image-1 {
    height: 472px;
    width: 363px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1100px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 891px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 30px 30px 30px 0;
  }

  .u-section-1 .u-image-1 {
    height: 831px;
    width: 607px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 877px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 668px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 714px;
    width: 521px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 630px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 421px;
  }

  .u-section-1 .u-image-1 {
    height: 452px;
    width: 330px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 633px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 552px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 50px;
}

.u-section-2 .u-text-1 {
  margin: 0 4px 0 0;
}

.u-section-2 .u-form-1 {
  height: 312px;
  margin: 21px 2px 0 0;
}

.u-section-2 .u-input-1 {
  height: 55px;
}

.u-section-2 .u-input-2 {
  height: 55px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
  --radius: 50px;
  padding: 21px 0 22px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 455px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 609px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 48px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1320px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 913px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }
}